<div id="app" hx-swap-oob="outerHTML" ws-connect="/app">
  <div id="app-room" hx-swap-oob="outerHTML">
    <h1>Chat-Room Application</h1>
    <div id="participants">
      <ul>
        {{ range .Participants }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    <div id="app-chat-room">
      <ul id="app-messages">
        {{ range .Messages }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    <form id="app-chat-room-form" ws-send hx-target="#app-chat-room">
      <input name="message">
      <br>
      <button type="submit">Send</button>
    </form>
    <div id="app" hx-swap="outerHTML"></div>
  </div>
</div>